/*Basic pieces are built here: everything starts with the same padding, margin, and box-sizing*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Adding background color for body*/
body {
    background-color: #d9dcd6;
}

/*The header section gets padding, fonts, and colors*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*"Horiseon" in the top left of the page*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*This is the "seo" span in "Horiseon" that gets a different color*/
.seo {
    color: #d9dcd6;
}

/*The next four portions (.header div, ul, li, and a) provide styling to the list of links on the top right of the page within the header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*Just for fun, I fixed the list of links in the header so that they would adjust correctly for smaller screen sizes*/
@media screen and (max-width: 1020px) {
    .header div {
        font-size: 17px;
    }
}

/*Paragraphs are given a font-size*/
p {
    font-size: 16px;
}

/*The image bellow the header needs to cover the whole width of the page, so it is a section instead of an image and is styled here accordingly*/
.landingBackgroundImg {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*defining floats for use in the two sections below the header and the background image*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*The left side of the main content, anything within the offerings section gets styled below*/
.offerings {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.offering {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.offering img {
    max-height: 200px;
}

.offering h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*The right side of the main content, anything within the benefits section gets styled below*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*The footer gets styled in these two portions*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}